body {
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper {
    width: 1920px;
    margin: 0 auto;
}

.wrap-relative {
    position: relative;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../fonts/proximanova_black.otf);
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../fonts/proximanova_black.ttf);
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../fonts/proximanova_blackit.otf);
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../fonts/proximanova_bold.otf);
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../fonts/proximanova_boldit.otf);
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../fonts/proximanova_extrabold.otf);
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../fonts/proximanova_light.otf);
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../fonts/proximanova_regular.ttf);
}